html, body{
    background-color: #2b2b2b;
    margin: 0px;
}
h1, h2{
    margin: 0;
}
.nav{
    gap: 20px;
}
header{
    display: flex;
    justify-content: center;
}
.header-content{
    /* width: 100%; */
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.menu-link{
    margin-left: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: white;
    text-decoration: none;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
}
.logo{
    height: auto;
    padding-right: 330px;
}
.signup-button{
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: white;
    text-decoration: none;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;

    background-color: #a259ff;
    background-image: url("../images/vectorIcons/User.svg");
    background-repeat: no-repeat;
    background-position: 20px;
    margin-left: 20px;
    height: 60px;
    width: 152px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.signup-button:hover {
    background-color: #6a32e6;
}
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
  
.burger span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.welcome{
    padding: 80px 0px;
    display: grid;
    grid-template-columns: 510px 510px;
    grid-template-rows: auto auto 80px auto auto;
    justify-content: center;
    align-items: center;
}

.image-content{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    height: 510px;
    width: 510px;
    position: relative;
    /* padding-right: 340px; */
}
.welcome-card-info{
    display: flex;
    flex-direction: column;
    margin: 22px 0px 0px 20px;
    gap: 10px;
}
.welcome-card-creator{
    gap: 12px;
    display: flex;
    align-items: center;
}
.welcome-card-creator-img{
    border-radius: 20px;
}
.welcome-card-founder{
    font-weight: 400;
    font-size: 16px;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.square{
    width: 510px;
    height: 510px;
    background-color: #3B3B3B;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.placeholderImage{
    background-image: url(../images/Image_Placeholder.jpg);
    height: 401px;
    width: 510px;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.welcome-card-text{
    font-weight: 700;
    font-size: 22px;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.text-content{
    display: grid;
    align-items: center;
    grid-template-rows: auto auto 80px auto auto;
    flex-direction: column;
    width: 510px;
}

.hero-title{
    line-height: 1.5px;
    /* margin-left: 50px; */
    font-weight: 600;
    font-size: 67px;
    line-height: 110%;
    color: white;
    text-decoration: none;
    font-family: "WorkSans", Arial, Helvetica, sans-serif; 
}
.hero-text{
    /* margin-left: 50px; */
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    color: white;
    text-decoration: none;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
}
.get-start:hover{
    background-color: #6a32e6;
}
.get-start{
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: white;
    text-decoration: none;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;

    background-color: #a259ff;
    background-image: url("../images/vectorIcons/RocketLaunch.svg");
    background-repeat: no-repeat;
    background-position: 20px;
    /* margin-left: 50px; */
    height: 60px;
    width: 224px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.stats{
    display: flex;
    gap: 30px;
    /* padding-left: 50px; */
}
.stats-numbers{
    display: flex;
    gap: 20px;
}
.stats-names{
    display: flex;
    gap: 20px;
}
.num-stat{
    font-weight: 700;
    font-size: 28px;
    line-height: 160%;
    color: #ffffff;
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;

    width: 150px;
    height: 39px;
}
.name-stat{
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #ffffff;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;

    width: 150px;
    height: 39px;
}
.trending-collection{
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 80px 0px 80px 0px;
    gap: 60px;
}
.trending-collection-headline{
    width: 1046px;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}
.trending-collection-main-text{
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    color: #ffffff;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
}
.trending-collection-sub-text{
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    color: #ffffff;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
}
.collections-card-column{
    display: flex;
    gap: 30px;
}
.collection-card{
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    gap: 15px;
    position: relative;

}
.primary-placeholder{
    border-radius: 20px;
    height: 330px;
    width: 330px;
}
.card-row{
    display: flex;
    gap: 15px;

}
.secondary-placeholder-1{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.secondary-placeholder-2{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.placeholder-squre{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #a259ff;
    border-radius: 20px;
}
.num-in-square{
    font-weight: 700;
    font-size: 22px;
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
    color: #ffffff;
    width: 68px;
    height: 35px;
}
.collection-name{
    font-weight: 600;
    font-size: 22px;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.artist-card{
    align-items: flex-start;
    display: flex;
    gap: 15px;
    position: relative;
}
.collection-author{
    display: flex;
    font-weight: 400;
    font-size: 16px;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.artist a{
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}
.avatar{
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.top-creators{
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 80px 195px;
    justify-content: center;
    gap: 80px;
}
.top-creators-headline{
    width: 1050px;
    gap: 100px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.top-creators-text{
    grid-row: 1;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    width: 703px;
}
.top-creators-main-text{
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    color: #ffffff;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;

}
.top-creators-sub-text{
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    color: #ffffff;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
}

.view-ranking{
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 247px;
    height: 60px;
    background-color: #2b2b2b;
    border-radius: 20px;
    border:solid #A259FF;
    border-width: 3px;
    transform: translateY(0);
    background-image: url(../images/vectorIcons/RocketLaunch.svg);
    background-repeat: no-repeat;
    background-position: 4cap;

    
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}
.view-ranking:hover {
    box-shadow: inset 1px 1px 10px -1px #8324FF;
    transform: translateY(2px);
}
.view-ranking-img{
    fill: #A259FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.artist-cards-grid{
    /* align-self: center; */
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(3, 238px);
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
}
.creators-row{
    align-items: self-start;
    gap: 30px;
    display: flex;
}
.artist{
    display: flex;
    align-items: center;
    gap: 12px;
}

.artist-card{
    border: 0;
    text-decoration: none;
    display: inline-block;
    color: #000;
    padding: 20px;
    flex: 1;
    align-items: center;
    background-color: #3B3B3B;
    border-radius: 20px;
    display: flex;
    transform: translateY(0); 
    
    flex-direction: column;
    gap: 20px;

    position: relative;
}
.artist-card:hover{
    transform: translateY(2px); 
    box-shadow: inset 1px 1px 10px -1px;
}
.creator-avatar{
    border-radius: 100px;
    height: 120px;
    width: 120px;
}
.artist-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.creator-text{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    height: 140%;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}
.additional-info{
    align-items: center;
    /* align-self: stretch; */
    background-color: transparent;
    display: flex;
    gap: 5px;
    height: auto;
    justify-content: center;
    position: relative;
    /* display: flex;

    gap: 10px; */
}
.total-sales-text{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    /* height: 140%; */
    font-size: 16px;
    font-weight: 400;
    color:#858584;
}
.amount-of-sales{
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
    /* height: 140%; */
    font-size: 16px;
    font-weight: 400;
    color:#ffffff;
    gap: 10px;
}
.ranking-number-circle{
    background-color: #2B2B2B;
    border-radius: 20px;
    height: 30px;
    left: 20px;
    mix-blend-mode: normal;
    position: absolute;
    top: 18px;
    width: 30px;
}
.ranking-number{
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    color:#858584;

    display: flex;
    justify-content: center;
    align-items: center;
}
.browseCategories{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 80px 400px;
}
.browse-categories-headline{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-weight: 600;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    font-size: 38px;
    line-height: 120%;
    width: 1046px;
}
.categories-card-grid{
    align-self: center;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4,240px);
    grid-template-rows: repeat(2,316px);
    flex-direction: column;
}
.categories-row{
    align-items: self-start;
    gap: 30px;
    display: flex;
}
.categories-card{
    height: 316px;
    width: 240px;
    background-color: #3b3b3b;
    border-radius: 20px;
    transform: translateY(0); 
}
.categories-image{
    position: absolute;
    height: 240px;
    width: 240px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.categories-name{
    position: relative;
    display: flex;
    align-items: center;
    
    width: 210px;
    height: 76px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translate(0px, 140px);

    font-weight: 600;
    line-height: 140%;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    padding-left: 30px;
    font-size: 22px;
    color: #ffffff;
}
.categories-svg{
    position: relative;
    transform:translate(0px, 70px)
}
.categories-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 240px;
    height: 316px;
    align-items: center;
    position: relative;
    transform: translateY(0); 
}
.categories-images:hover{
    box-shadow: inset 1px 1px 10px -1px #000000;
    transform: translateY(2px); 
}
.categories-card{
    transform: translateY(2px);
}
.discover-more-nft{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    padding: 80px 195px;
    flex-direction: column;
    gap: 60px;
}
.discover-more-nft-header{
    align-items: center;
    gap: 100px;
    width: 1050px;
    display: flex;
}
.discover-more-nft-text{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    width: 703px;
}
.discover-more-nft-main-text{
    font-size: 38px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
}
.discover-more-nft-sub-text{
    font-size: 22px;
    line-height: 160%;
    font-weight: 400;
    color: #ffffff;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
}
.see-all-button{
    display: flex;
    
    grid-column-start: 3;
    grid-column-end: 4;
}
.see-all{
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 187px;
    height: 60px;
    background-color: #2b2b2b;
    border-radius: 20px;
    border:solid #A259FF;
    border-width: 3px;
    transform: translateY(0); 
    
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}
.see-all:hover {
    box-shadow: inset 1px 1px 10px -1px #8324FF;
    transform: translateY(2px);
}
.discover-more-nft-card-row{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    gap: 30px;
    justify-content: center;
}
.discover-more-nft-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 420px;
    height: 469px;
    background-color: #3b3b3b;
    border-radius: 20px;
}

.NFT-info{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 30px 25px;
    position: relative;
}
.NFT-name{
    align-self: start;
    margin: 0;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-weight: 600;
    font-size: 22px;
    color: #ffffff;
}
.discover-artist-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.discover-artist-info a{
    display: flex;
    gap: 12px;

    align-items: center;
    text-decoration: none;
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}
.discover-artist-info img{
    border-radius: 15px;
    width: 24px;
    height: 24px;
}
.discover-additional-info{
    display: flex;
}
.price{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
    /* padding: 0px 21px 0px 0px; */
}
.price-head{
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-weight: 400;
    font-size: 14px;
    color: #858584;
}
.price-num{
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}
.highest-bid{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 8px;
}
.highest-bid-head{
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-weight: 400;
    font-size: 14px;
    color: #858584;
}
.highest-bid-num{
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}
.discover-more-nft-img{
    display: flex;
    position: relative;
    object-fit: cover;
    width: 420px;
    height: 296px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}
.NFT-Highlight{
    display: flex;
    align-items: center;
    align-self: stretch;
    background-image: url("../images/Placeholder/Secondary_Photo_Placeholder\(Magic_Mushrooms\)\(2\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: space;
    background-position: center;
    height: 640px;
}
.Highlight-NFT-info{
    display: grid;
    grid-template-columns: 755px auto;
    grid-template-rows: auto auto auto;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    padding: 360px 435px 60px 435px;
    /* width: 1050px; */
    flex: 1;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, rgb(162, 89, 255) 100%);
}
.frame-240{
    display: flex;

    width: 1050px;
}
.NFT-Artist-Button{
    display: flex;
    width: 1050px;
    flex-direction: column;
    gap: 30px;
}
.NFT-Highlight-Artist{
    display: flex;
    width: 151px;
    align-items: center;
    background-color: #3b3b3b;
    padding: 10px 0px 10px 20px;
    border-radius: 20px;
    gap: 12px;
}
.Highlight-name{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    line-height: 110%;
    font-weight: 600;
    font-size: 51px;
    color: #ffffff;
}
.Highlight-button{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-weight: 600;
    font-size: 16px;
    color: #2B2B2B;

    background-image: url(../images/vectorIcons/Eye.svg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: 3cap;
    align-items: center;    
    border-radius: 0;
    width: 198px;
    height: 60px;
    border-radius: 20px;
}
.Highlight-NFT-info img{
    width: 24px;
    height: 24px;
    border-radius: 20px;
}
.Highlight-artist-name{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}
.auction-timer{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    background-color: #3B3B3B50;
    padding: 30px;
    border-radius: 20px;
    gap: 10px;
}
.auction-text{
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
    line-height: 110%;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
}
.timer{
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
    line-height: 120%;
    font-weight: 800;
    font-size: 38px;
    color: #ffffff;
}
.timer-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
    line-height: 110%;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
}
.howItWorks{
    display: flex;
    flex-direction: column;
    padding: 80px 435px;
    gap: 48px;
    align-items: center;
}
.howItWorks-headline{
    display: flex;
    width: 1033px;
    flex-direction: column;
    gap: 10px;
}
.howItWorks-main{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    line-height: 120%;
    font-weight: 700;
    font-size: 38px;
    color: #ffffff;
}
.howItWorks-sub{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    line-height: 160%;
    font-weight: 400;
    font-size: 22px;
    color: #ffffff;
}
.howItWorks-row{
    display: flex;
    gap: 30px;
}
.info-card{
    display: flex;
    flex-direction: column;
    background-color: #3B3B3B;
    border-radius: 20px;
    padding: 10px 30px 30px;
    width: 270px;
    align-items: center;
}
.info-card-img{
    width: 250px;
    height: 250px;
}
.info-card-headline{
    display: flex;
    flex-direction: column;
}
.info-card-main{
    padding-bottom: 10px;
    text-align: center;

    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
}
.info-card-sub{
    text-align: center;

    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}
.subscribe-widget{
    display: flex;
    padding: 80px 435px;
    justify-content: center;
}
.subscribe-widget-box{
    display: flex;
    gap: 80px;
    padding: 60px;
    background-color: #3B3B3B;
    border-radius: 20px;
}
.subscribe-widget-img{
    display: flex;
    flex: 1;
    width: 425px;
    height: 310px;
    border-radius: 20px;
    object-fit: cover;
}
.subscribe-widget-frame{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 425px;
}
.subscribe-widget-text{
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subscribe-widget-main{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    line-height: 120%;
    font-weight: 700;
    font-size: 38px;
    color: #ffffff;
}
.subscribe-widget-sub{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    line-height: 160%;
    font-weight: 400;
    font-size: 22px;
    color: #ffffff;
}
.subscribe-widget-form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    width: 425px;
    height: 60px;
    padding-left: 27px;
}
.subscribe-widget-form-input{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    border: 0;
    width: 182px;
    height: 22px;
    padding-right: 30px;
}
.subscribe-widget-form-button{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;

    width: 211px;
    height: 60px;
    border-radius: 20px;
    background-color: #a259ff;
    background-image: url(../images/vectorIcons/mail.svg);
    background-repeat: no-repeat;
    background-position: 4cap;
    border: 0;
}
.subscribe-widget-form-button:hover {
    box-shadow: inset 1px 1px 10px -1px #6b3ba8;
    transform: translateY(-0.4px);
}





.footer{
    padding: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #3b3b3b;
    padding: 40px 320px 0px 320px;
}
.footer-info{
    display: flex;
    /* width: 1050px;
    height: 191px; */
}
.nft-marketplace{
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 120px;
}
.footer-logo{
    width: 243px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nft-marketplace-sub-text{
    width: 238px;
    height: 129px;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-weight: 400;
    font-size: 16px;
    color: #CCCCCC;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.community-icons{
    display: flex;
    gap: 10px;
}
.explore{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-content: center; */
    width: 240px;
    height: 191px;
    gap: 25px;
}
.explore-main-text{
    gap: 25px;
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
}
.explore-sub-text{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-link{
    text-decoration: none;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #CCCCCC;
}
.subscribe{
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 184px;
    gap: 20px;
}
.subscribe-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.subscribe-main-text{
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
}
.subscribe-sub-text{
    width: 330px;
    height: 44px;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #CCCCCC;
}
.subscribe-form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    height: 60px;
    padding-left: 27px;
}
.subscribe-items{

}
.subscribe-form-input{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    border: 0;
    width: 210px;
    height: 22px;
}
.subscribe-button{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;

    width: 206px;
    height: 60px;
    border-radius: 20px;
    background-color: #a259ff;
    border: 0;
}
.subscribe-button:hover {
    box-shadow: inset 1px 1px 10px -1px #6b3ba8;
    transform: translateY(-0.4px);
}
.copyright-info{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.copyright-text{
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #CCCCCC;
}
.copyright-line{
    width: 1023px;
}
@font-face {
    font-family: "WorkSans";
    src: url("../fonts/WorkSans-SemiBold.ttf");
    font-weight: 600;
    font-style:normal;
    font-display: swap;
}
@font-face {
    font-family: "WorkSans";
    src: url("../fonts/WorkSans-Regular.ttf");
    font-weight: 400;
    font-style:normal;
    font-display: swap;
}
@font-face {
    font-family: "WorkSans";
    src: url("../fonts/WorkSans-Bold.ttf");
    font-weight: 700;
    font-style:normal;
    font-display: swap;
}
@font-face {
    font-family: "SpaceMono";
    src: url(../fonts/SpaceMono-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SpaceMono";
    src: url(../fonts/SpaceMono-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Модальное окно */
.modal {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Темный фон с прозрачностью */
}

.modal-content {
    background-color: #fff;
    margin: 8% auto;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    color: #000;
}

.modal-content h2 {
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 110%;
    text-align: center;
    margin-bottom: 20px;
}

.modal-content label {
    display: block;
    margin-top: 15px;
    font-weight: bold;

    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;

    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
}

.modal-content button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #a259ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;

    font-family: "WorkSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
}

.modal-content button:hover {
    background-color: #6a32e6;
}
.close-button{
    cursor: pointer;
}
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}


@media (max-width: 1279px) {
    .logo{
        padding: 0px;
        flex: 1;
    }
    header{
        padding: 15px 30px;
    }
    .header-content{
        padding: 0;
    }
    .header-content{
        width: 100%;
    }
/* start welcome-page */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
    .welcome{
        padding: 40px 30px;
        grid-template-columns: 315px;
    }

    .image-content{
        grid-column-start: 1;
        grid-row-start: 3;
        width: 315px;
        height: 315px;
    }

    .text-content{
        width: 315px;
    }

    .square{
        width: 315px;
        height: 315px;
    }
    .placeholderImage{
        width: 315px;
        height: 206px;
    }
    .hero-title{
        font-size: 28px;
        line-height: 140%;
    }
    .hero-text{
        font-size: 16px;
        line-height: 140%;
    }
    .get-start{
        width: 100%;
        background-position: 7cap;
        margin: 40px 0px;
    }
    .stats-numbers{
        display: flex;
        gap: 30px;
    }
    .num-stat{
        font-size: 22px;
       line-height: 160%;
    }
    .name-stat{
        font-size:16px;
        line-height: 140%;
    }
    .stats-names{
        display: flex;
        gap: 30px;
    }
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */
/* end welcome-page */


/* start trending-page */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
    .trending-collection{
        padding-bottom: 40px;
    }
    .trending-collection-headline{
        width: 315px;
    }
    .collections-card-column .collection-card:nth-child(2) {
        display: none;
    }
    .collections-card-column .collection-card:nth-child(3) {
        display: none;
    }
    .trending-collection-main-text{
        font-size: 28px;
    }
    .trending-collection-sub-text{
        font-size: 16px;
    }
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑   */
/* end trending-page   */
/*------------------   */
/* start creators-page */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓  */
.top-creators{
    grid-template-columns: auto;
    grid-template-rows: repeat(10,auto);
    padding: 40px 30px;
    gap: 0px;
}
.artist-cards-grid{
    grid-template-columns: 315px;
    grid-template-rows: repeat(4, 100px);
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 1;
}
.artist-card{
    flex-direction: row;
}
.top-creators-main-text{
    font-size: 28px;
}
.top-creators-sub-text{
    font-size: 16px;
}
.creator-avatar{
    width: 60px;
    height: 60px;
}
.creators-row{

}
.artist-card:nth-child(5){
    display: none;
}
.artist-card:nth-child(6){
    display: none;
}
.artist-card:nth-child(7){
    display: none;
}
.artist-card:nth-child(8){
    display: none;
}
.artist-card:nth-child(9){
    display: none;
}
.artist-card:nth-child(10){
    display: none;
}
.artist-card:nth-child(11){
    display: none;
}
.artist-card:nth-child(12){
    display: none;
}
.top-creators-headline{
    width: 315px;
    flex-direction: column;
}
.artist-info{
    align-items: flex-start;
    text-align: left;
}
.additional-info{
    text-align: left;
}
.creator-text{
    text-align: left;
}
.top-creators-text{
    width: 315px;
    margin-bottom: 40px;
}
.view-ranking{
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 4;
}
.view-ranking-button{
    margin-top: 40px;
    display: flex;
    grid-row: 4;
}
.creators-row{
    flex-direction: column;
}
.creators-row:nth-child(2){
    display: none;
}
.creators-row:nth-child(3){
    display: none;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */
/* end creators-page */

/* start categories-page */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.browseCategories{
    padding: 40px 30px;
}
.categories-card{
    width: 147px;
    height: 209px;
}
.categories-image{
    width: 147px;
    height: 142px;
}
.categories-images{
    width: 147px;
    height: 209px;
}
.categories-svg{
    transform: translate(0px, 31px);
    width: 80px;
    height: 80px;
}
.categories-name{
    width: 107px;
    height: 22px;
    transform: translate(0px, 80px);
    padding: 0;
    font-size: 16px;
}
.categories-card-grid{
    grid-template-columns: repeat(2,147px);
    grid-template-rows: repeat(4,209px);
    gap: 20px;
}
.categories-row{
    flex-direction: column;
}
.browse-categories-headline{
    font-size: 28px;
    width: 315px;
    height: 39px;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑   */
/* end categories-page   */

/* start discover-more-nft-page */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.discover-more-nft{
    grid-template-columns: auto;
    padding: 40px 30px;
    justify-content: center;
    gap: 30px;
}
.discover-more-nft-card-row{
    grid-template-columns: auto;
    grid-column: 1;
}
.discover-more-nft-card{
    width: 315px;
    height: 402px;
}
.discover-more-nft-img{
    width: 315px;
    height: 238px;
}
.discover-more-nft-text{
    width: 315px;
    grid-column: 1;
}
.discover-more-nft-main-text{
    font-size: 28px;
}
.discover-more-nft-sub-text{
    font-size: 16px;
}
.see-all-button{
    grid-row: 4;
    grid-column: 1;
}
.see-all{
    width: 100%;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑   */
/* end discover-more-nft-page   */

/* start how-it-work-page */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓  */
    .howItWorks{
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        padding: 40px 30px;
    }
    .howItWorks-headline{
        width: 315px;
    }
    .howItWorks-row{
        flex-direction: column;
        justify-content: center;
    }
    .info-card{
        flex-direction: row;
        gap: 20px;
        width: 315px;
        padding: 20px 20px;
    }
    .info-card-img{
        width: 100px;
        height: 100px;
    }
    .info-card-main{
        text-align: left;
        font-size: 16px;
    }
    .info-card-sub{
        text-align: left;
        font-size: 12px;
    }
    .info-card-headline{
        display: flex;
        flex-direction: column;
        width: 155px;
        height: 117px;
    }
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */
/* end how-it-work-page */

/* start subscribe-widget-page */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓  */
.Highlight-NFT-info{
    grid-template-columns: auto;
    padding: 120px 0px 40px 0px;
}
.auction-timer{
    grid-column: 1;
    grid-row: 3;
}
.Highlight-name{
    font-size: 38px;
}
.Highlight-button{
    width: 100%;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */
/* end how-it-work-page */

/* start subscribe-widget-page */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓  */
    .subscribe-widget{
        padding: 40px 30px;
        justify-content: center;

    }
    .subscribe-widget-frame{
        width: 315px;
    }
    .subscribe-widget-box{
        background-color: #2b2b2b;
        flex-direction: column;
        padding: 0px;
        gap: 30px;
    }
    .subscribe-widget-form-box{
        background-color: #ffffff00;
        flex-direction: column;
        width: 315px;
        padding-left: 0px;
        gap: 16px;
        height: 108px;
    }
    .subscribe-widget-form-button{
        width: 315px;
        height: 46px;
    }
    .subscribe-widget-form-input{
        background-color: #ffffff;
        width: 300px;
        padding: 12px;
        border-radius: 20px;
    }
    .subscribe-widget-img{
        width: 315px;
        height: 255px;
    }

    
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */
/* end subscribe-widget-page */

    footer{
        background-color: #3b3b3b;

    }
    .header{
        padding: 20px 30px;
    }
    .footer{
        display: flex;
        padding: 40px 30px;
        flex-direction: column;
        background-color: #3b3b3b; 
    }
    .footer-info{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nft-marketplace-sub-text{
        width: 315px;
        padding-bottom: 30px;
    }
    .explore{
        width: 315px;
    }
    .subscribe{
        width: 315px;
        height: 233px;
    }
    .copyright-text{
        align-items: center;
    }
    .nft-marketplace{
        padding: 0px;
    }
    .copyright-line{
        width: 315px;
    }
    .nft-marketplace span{
        /* width: 690px; */
    }
    .subscribe h2{
        /* width: 690px; */
    }
    .subscribe-form-input{
        width: 241px;
    }
    .subscribe-button{
        width: 179px;
    }
    .burger {
        display: flex;
      }
    
    .nav {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: #3B3B3B;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    z-index: 999;
    }

    .nav.active {
    max-height: 300px;
    transition: max-height 0.5s ease-in;
    }

    .menu-link, .signup-button {
    margin-left: 0;
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    }

    .subscribe-form-box{
        background-color: #ffffff00;
        flex-direction: column;
        width: 315px;
        padding-left: 0px;
        gap: 16px;
        height: 108px;
    }
    .subscribe-button{
        width: 315px;
        height: 46px;
    }
    .subscribe-form-input{
        background-color: #ffffff;
        width: 300px;
        padding: 12px;
        border-radius: 20px;
    }
    .modal-content{
        width: 315px;
        margin: 8% 0px;
    }
    .modal-content input{
        width: 294px;
    }
}